<div id="<%= dom_id booking %>">
  <p>
    <strong>Status:</strong>
    <%= booking.status %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= booking.title %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= booking.cost %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= booking.start %>
  </p>

  <p>
    <strong>Cancellation reason:</strong>
    <%= booking.cancellation_reason %>
  </p>

  <p>
    <strong>Refunded:</strong>
    <%= booking.refunded %>
  </p>

  <p>
    <strong>Trainer:</strong>
    <%= booking.trainer_id %>
  </p>

  <p>
    <strong>Schedule:</strong>
    <%= booking.schedule_id %>
  </p>

  <p>
    <strong>Lesson:</strong>
    <%= booking.lesson_id %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= booking.account_id %>
  </p>

</div>
