<%= form_with(model: user, class: "form-horizontal") do |form| %>
  <% if user.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :email, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= form.text_field :email, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :role, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <div class="btn-group" data-toggle="buttons">
        <% if current_user.role == "admin" %>
          <label class="btn btn-primary">
            <%= form.radio_button :role, "admin" %> Admin
          </label>
        <% end %>
        <label class="btn btn-primary">
          <%= form.radio_button :role, "driver" %> Driver
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
      <%= form.label :branch_id, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= form.collection_select :branch_id, Branch.where(company_id: current_user.branch.company.id), :id, :name, { prompt: true }, class: "form-control" %>
      </div>
    </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10 mt-3">
      <%= form.submit "Save", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>