<div id="<%= dom_id schedule %>">
  <p>
    <strong>Branch:</strong>
    <%= schedule.branch_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= schedule.user_id %>
  </p>

  <p>
    <strong>User only:</strong>
    <%= schedule.user_only %>
  </p>

  <p>
    <strong>Branch only:</strong>
    <%= schedule.branch_only %>
  </p>

</div>
