<div id="<%= dom_id schedule %>">
  <p>
    <strong>Title:</strong>
    <%= schedule.title %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= schedule.start %>
  </p>

  <p>
    <strong>End:</strong>
    <%= schedule.end %>
  </p>

  <p>
    <strong>Trainer:</strong>
    <%= schedule.trainer_id %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= schedule.account_id %>
  </p>

</div>
