<p style="color: green"><%= notice %></p>

<h1>Schedules</h1>

<div id="schedules", style="display: none;", class="container">
  <% @schedules.each do |schedule| %>
    <%= render schedule %>
    <p>
      <%= link_to "Show this schedule", schedule %>
    </p>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Branch Schedules</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Branch</th>
            <th>Show</th>
          </tr>
        </thead>
        <tbody>
          <% @branch_schedules.each do |schedule| %>
            <tr>
              <td><%= schedule.branch.name %></td>
              <td><%= link_to "Show", schedule %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <h2>User Schedules</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>User</th>
            <th>Show</th>
          </tr>
        </thead>
        <tbody>
          <% @user_schedules.each do |schedule| %>
            <tr>
              <td><%= schedule.user.email %></td>
              <td><%= link_to "Show", schedule %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>