<div id="<%= dom_id delivery %>" class="card my-3">
  <div class="card-body">
    <p class="card-text">
      <strong>Origin Address:</strong>
      <%= delivery.origin_address %>
    </p>
  
    <p class="card-text">
      <strong>Origin Departure Time:</strong>
      <%= delivery.origin_leave.localtime.strftime("%d-%m-%Y @%H:%M") %>
    </p>

    <p class="card-text">
      <strong>Destination Address:</strong>
      <%= delivery.dest_address %>
    </p>

    <p class="card-text">
      <strong>Destination Arrival Time:</strong>
      <%= delivery.dest_arrive.localtime.strftime("%d-%m-%Y @%H:%M") %>
    </p>

    <p class="card-text">
      <strong>Destination Departure Time:</strong>
      <%= delivery.dest_leave.localtime.strftime("%d-%m-%Y @%H:%M") %>
    </p>

    <p class="card-text">
      <strong>Driver:</strong>
      <%= delivery.schedule.user.name %>
    </p>
  </div>
</div>