<div id="<%= dom_id delivery %>">
  <p>
    <strong>Origin Address:</strong>
    <%= delivery.origin_address %>
  </p>
  
  <p>
    <strong>Origin Departure Time:</strong>
    <%= delivery.origin_leave %>
  </p>

  <p>
    <strong>Destination Address:</strong>
    <%= delivery.dest_address %>
  </p>

  <p>
    <strong>Destination Arrival Time:</strong>
    <%= delivery.dest_arrive %>
  </p>

  <p>
    <strong>Destination Departure Time:</strong>
    <%= delivery.dest_leave %>
  </p>

  <p>
    <strong>Driver:</strong>
    <%= delivery.schedule.user.name %>
  </p>

</div>
