<%= form_with(model: delivery) do |form| %>
  <% if delivery.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(delivery.errors.count, "error") %> prohibited this delivery from being saved:</h2>

      <ul>
        <% delivery.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :origin_leave, style: "display: block" %>
    <%= form.datetime_field :origin_leave %>
  </div>

  <div>
    <%= form.label :dest_leave, style: "display: block" %>
    <%= form.datetime_field :dest_leave %>
  </div>

  <div>
    <%= form.label :schedule_id, style: "display: block" %>
    <%= form.text_field :schedule_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
