<p style="color: green"><%= notice %></p>

<h1>My Availabilities</h1>
<%= link_to "New availability", new_availability_path %>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Show</th>
      </tr>
    </thead>
    <tbody>
      <% @availabilities.order(start_time: :asc).each do |availability| %>
		<tr>
			<td>
				<%= availability.start_time.strftime("%d-%m-%Y @%H:%M") %>
				</td>
			<td>
				<%= availability.end_time.strftime("%d-%m-%Y @%H:%M") %>
				</td>
			<td>
				<%= link_to "Show", availability, class: "btn btn-primary btn-sm" %>
				</td>
		</tr>
      <% end %>
    </tbody>
  </table>
</div>
