<!DOCTYPE html>
<html>
  <head>
    <title>RailsTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>   
  </head>

  <nav>
  <% if user_signed_in? %>
    <%= "#{current_user.email} |" %>
    <%= link_to t('profile'), edit_user_registration_path %>
    |
    <%= button_to t('logout'), destroy_user_session_path, method: 'delete' %>
  <% else %>
    <%= link_to t('login'), new_user_session_path %>
    |
    <%= link_to t('sign_up'), new_user_registration_path %>
  <% end %>
</nav>

  <body>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


  </body>
</html>
